{% extends "blog/base.html" %}

{% block content %}
	<div class='content-section'>
		<article>
			<h2>
				About <span style="font-family: FreeMono; font-size: 30px"> ItsYourBlog </span>
			</h2>
			<hr>
			<p>
				Uug sdfds sgfsnf sdklfnsaf skdfjsfbksdf skfnd,mndfsf skjfs sdfs sae sfde azsedffsjfsdf sdfsef sdfsdfiasfd sdfjf sdfjfb sdjfbsf jbfd
			</p>
			<p><i><u>Created by- </u></i><br>
			<span style="font-family: FreeMono; font-size: 20px">Abhinav Gupta</span>
			<!-- <i><u>Contact- </u></i><br> -->
			<br>
			<a href="https://github.com/abhi-cloud" >
				<img src="/media/GitHub-Mark-32px.png" alt='GitHub'>
			</a>
			<a href="https://www.facebook.com/abhinav.gupta.35762" >
				<img src="/media/f_logo_RGB-Hex-Blue_512.png" style="width:35px; height:35px" alt='Facebook'>
			</a>
			<a href="https://codeforces.com/profile/abhi--0122" >
				<img src="/media/codeforces-vs-coronavirus-65.png" style="width:100px; height:30px" alt='Codeforces'>
			</a>

			
			

		</article>
	</div>
{% endblock content %}